$main-font: "Acrom", monospace;
$secondary-font: "Montserrat", sans-serif;

$main-color: #101010;
$secondary-color: #cdcdcd;
$accent-color: #ff6c00;
$white-color: #fff;
$violet-color: #8d79c3;
$blue-color: #279ff6;
$violet-footer-color: #798dc4;


$bg-light: #e5e5e5;
$bg-dark-blue: #04102f;
$bg-grey: #eef4fa;
$bg-dark-violet: #071a4b;
$bg-footer-dark: #01091E;

$bg-testimonials-green: #00BF9D;
$bg-testimonials-blue: #1868FB;
$bg-testimonials-burgundy: #C04840;
$bg-testimonials-burgundy: #8d79c3;